body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 18px;
}

#root {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-center {
    align-items: center;
}

.items-stretch {
    align-items: stretch;
}

.text-align {
    text-align: center;
}

.border {
    border: 1px solid black;
}

.padding {
    padding: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.menu-bar {
    margin-left: 10px;
    padding: 0 10px;
}

.avatar_img {
    width: 200px;
    border-radius: 50%;
}

.nav-link-active {
    /* border-bottom: white 5px solid; */
    background-color: white;
    border-radius: 5px;
    display: block;
    width: 100%;
    transition: ease-in-out;
}

.background-grey {
    background-color: rgba(138, 138, 138, 0.255);
}

a {
    text-decoration: none;
    color: black;
}

button,
select {
    font-family: monospace;
    font-size: 18px;
    border-radius: 8px;
}

.padding-3 {
    padding: 3px;
}

.nav-bar>div>a {
    color: black;
    padding: 10px;
    line-height: 200%;
}

.nav-bar {
    height: 100%;
    width: 200px;
}

.margin-0 {
    margin: 0;
}

.project-img {
    width: 500px;
    border-radius: 8px;
}

.bckgr_items_color {
    /* background-color: rgba(130, 200, 224, 0.359); */
    /* background-color: rgba(180, 136, 174, 0.323); */
    background-color: #3ba0c56a;
}

.about-me_items {
    display: flex;
    align-items: center;
    width: 60%;
    border-left: black 4px solid;
    padding: 20px 50px;
    border-radius: 0 8px 8px 0;
    margin-bottom: 30px;
    font-size: 20px;
}

.education_items {
    width: 30%;
    padding: 30px;
    border-radius: 8px;
    margin: 0 10px 60px;
}

.padding-right-20 {
    padding-right: 20px;
}

.width-80 {
    width: 80%;
}

.width-60 {
    width: 60%;
}

.skill_items {
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 60px;
    width: 35%;
    text-align: center;
}

.grid {
    display: grid;
}

.grid-2-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.contact_items {
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
}

.icon {
    width: 50px;
}

/*Tablet: width >= 768px and width < 1024px*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .avatar_img {
        width: 150px;
    }

    button,
    select {
        font-size: 16px;
    }

    .nav-bar>div>a {
        padding: 10px;
    }

    .project-img {
        width: 400px;
    }

    .about-me_items {
        width: 80%;
        padding: 10px 20px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .education_items {
        padding: 10px;
        border-radius: 8px;
        margin: 0 10px 30px;
    }

    .padding-right-20 {
        padding-right: 20px;
    }

    .width-80 {
        width: 90%;
    }

    .width-60 {
        width: 80%;
    }

    .skill_items {
        margin-bottom: 40px;
    }

    .contact_items {
        padding: 15px;
        margin: 10px;
    }

    .icon {
        width: 40px;
    }

    .projects {
        width: 80%;
        margin: auto;
    }

    .nav-bar {
        width: 150px;
    }

}

/* Mobile: width < 768px */
@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .menu-bar {
        margin-left: 5px;
        padding: 0 5px;
    }

    .avatar_img {
        width: 150px;
    }

    button,
    select {
        font-size: 14px;
    }

    .nav-bar>div>a {
        padding: 10px;
        line-height: 200%;
    }

    .nav-bar {
        width: 130px;
    }

    .project-img {
        width: 300px;
    }

    .margin-bottom-30 {
        margin-bottom: 30px;
    }

    .about-me_items>span {
        margin-top: 10px;
    }

    .about-me_items {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        border-top: black 3px solid;
        border-left: white 0px solid;
        border-radius: 0 0 8px 8px;
        padding: 10px 20px;
        margin-bottom: 40px;
        font-size: 16px;
    }

    .education {
        display: flex;
        flex-direction: column;
    }

    .education_items {
        padding: 10px;
        margin: 10px;
        width: 80%;

    }

    .padding-right-20 {
        padding-right: 10px;
    }

    .width-80 {
        width: 90%;
    }

    .width-60 {
        width: 80%;
    }

    .skill {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill_items {
        padding: 15px;
        margin-bottom: 30px;
        width: 85%;
    }

    .grid-2-2 {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .contact_items {
        padding: 20px 10px 10px;
        margin: 10px;
        text-align: center;
    }

    .icon {
        width: 30px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 90%;
        margin: auto;
        height: 100%;
        margin-top: 30px;
    }
}